/* Estilo global */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
}

header {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    color: #666;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
    opacity: 1;
}

.overlay span {
    font-size: 1.5em;
    font-weight: bold;
}
 /* Estilo para a seção de impacto */
 section.text-center {
    background-color: #ffffff; /* Fundo branco para destacar o conteúdo */
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Sombra suave para dar destaque */
    margin-top: 40px;
}

section.text-center h2 {
    font-size: 2.5rem; /* Tamanho maior para o título */
    color: #0056b3; /* Azul escuro para o título */
    font-weight: bold;
    margin-bottom: 20px;
}

section.text-center p {
    font-size: 1.1rem; /* Tamanho de texto adequado para leitura */
    line-height: 1.8;
    color: #555555; /* Cor mais suave para o texto */
    text-align: justify; /* Justificar o texto para uma leitura mais fluída */
    max-width: 900px;
    margin: 0 auto; /* Centraliza o parágrafo */
}

section.text-center ul {
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0;
    margin-top: 20px;
}

section.text-center ul li {
    font-size: 1.1rem;
    color: #333333;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

section.text-center ul li::before {
    content: "✔"; /* Marca de verificação para cada item */
    color: #28a745; /* Verde para as marcas de verificação */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.3rem;
}

section.text-center p span {
    display: block;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
}